.main {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.mainHeader {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainHeaderBack {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.mainHeaderBack:hover {
    background-color: #f5f5f5;
}
.mainHolder {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.mainHolderOne {
    position: relative;
    width: 40%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainHolderOneImage {
    position: relative;
    width: 90%;
    height: 300px;
}

.mainHolderTwo {
    position: relative;
    width: 60%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainHolderTwoDetail {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    margin: 5px auto;
    cursor: pointer;
}
.mainHolderTwoDetailBg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .15;
    background-color: yellow;
}
.mainHolderTwoDetail p{
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    border-left: 4px solid yellow;
}

.mainHolderTwoDetailLink {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px auto;
}
.mainHolderTwoDetailLink p{
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    opacity: .8;
}

.mainHolderTwoDetailSub {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px 10px;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainHolderTwoDetailSub span{
    font-size: 13px;
    font-weight: 400;
}