.main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
z-index: 9999;
}

.mainCloser {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}

.mainHolder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: auto;
    max-width: 550px;
    padding: 10px 5px;
    background-color: white;
    border-radius: 7px;
    transition-delay: .2s;
    animation: zoom linear;
    animation-iteration-count: 1;
    animation-duration: .5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

@keyframes zoom {
    0% {
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.1);
    }

    20% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.2);
    }

    40% {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.4);
    }

    60% {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.6);
    }

    80% {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.8);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
}


.mainHolderHeading {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainHolderHeading h1 {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 500;
    color: #222;
}

.mainHolderHeading h2 {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.mainHolderClose {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
}

.mainHolderClose p {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    line-height: 0px;
    cursor: pointer;
}

.mainHolderClose p:hover {
    background-color: #eee;
}

.mainHolderSocial {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.mainHolderSocialItem {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f8f9fb;
    cursor: pointer;
}

.mainHolderSocialItem p{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    line-height: 0px;
    border-radius: 50%;
    background-color: white;
}


.mainHolderInput {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fb;
}
.mainHolderInput input{
    position: relative;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #222;
    background-color: transparent;
    padding: 10px;

}
.mainHolderInput button{
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    border-radius: 10px;
}