.main {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 7px;
    padding: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.mainImage {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.mainDetails {
    position: relative;
    width: 100%;
    height: 90px;
    padding: 5px;
}

.mainDetailsTitle {
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 5px 10px;
}
.mainDetailsTitleBg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .15;
    background-color: yellow;
}

.mainDetailsTitle p{
    position: relative;
    width: 100%;
    height: auto;
    border-left: 4px solid yellow;
    padding: 2px 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}